.audio-player {
  display: flex;
  flex-direction: column;
  background-color: #484848;
  padding: 1%;
  border-radius: 4px;
  box-shadow: 2px 2px black;
  color: white;
  margin-bottom: 6px;
  width: 98%;
}

.horizontal-track-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid #303030;
}

.player-track-title {
  font-size: 15px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.play-button {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-image: url("../public/play-button-white.png");
  background-position: center;
  background-size: cover;
  border: none;
  background-color: #484848;
  margin-top: 10px;
}

.pause-button {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  background-image: url("../public/white-pause.png");
  background-position: center;
  background-size: cover;
  border: none;
  background-color: #484848;
}

.time-duration-cont {
  display: flex;
  flex-direction: row;
  height: 35px;
}

.time-duration-cont div {
  margin: 13px;
}

.volume-slider-cont {
  display: flex;
  flex-direction: row;
  height: 35px;
}

.volume-slider {
  width: 140px;
}

.duration-slider {
  width: 250px;
}

.duration {
  color: white;
}

.current-time {
  color: white;
}

.volume-icon {
  width: 20px;
  height: 20px;
  margin: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 25px;
  width: 10px;
  border-radius: 2px;
  background: #282828;
  cursor: pointer;
  margin-top: -10px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 25px;
  width: 10px;
  border-radius: 2px;
  background: #282828;
  cursor: pointer;
}

input[type="range"] {
  -webkit-appearance: none;
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-ms-track {
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #007cff;
  border-radius: 1px;
  border: 0.2px solid #010101;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #2900ff;
}

input[type="range"]::-moz-range-track {
  height: 6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #2900ff;
  border-radius: 1px;
  border: 0.2px solid #010101;
}

input[type="range"]::-ms-track {
  height: 6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #2900ff;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #2900ff;
}
input[type="range"]::-ms-fill-upper {
  background: #2900ff;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #2900ff;
}
